.header {
  position: fixed;
  top: -20px;
}

.logoAndTitle {
  display: flex;
  flex-direction: row;
}

.logo {
  margin: 0;
}

.title {
  position: fixed;
  top: 60px;
  left: 250px;
  z-index: 1;
}
